body{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   background-color: darkcyan;
}

.nav{
    width: 1350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 44, 44);
    border-radius: 1%;
    position: fixed;
    box-shadow: 0 10px 20px rgb(0,0,0);
    z-index: 999;
}

.title p a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: aliceblue;
   
}
.title p a:hover{
    background: rgb(0, 39, 39);
    border-radius: 10%;
}

.features{
    display: flex;
    gap: 20px;
}

.features a:hover{
    background: rgb(0, 24, 24);
    border-radius: 5%;
}

.features a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}


.free ul {
    list-style: none;
}

.free ul li{
    display: inline-block;
    position: relative;
}

.free ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
 
}

.free ul li ul.dropdown li{
    display: block;
}

.free ul li ul.dropdown {
   width: 100%;
    background: transparent;
   position: absolute;
   z-index: 999;
   display: none;
}
.free ul li a:hover{
    background: rgb(0, 53, 53);
    border-radius: 5%;
}

.free ul li:hover ul.dropdown{
    display: block;
}

.Auth{
    display: flex;
    gap: 10px;
}

.but{
    background-color: rgb(46, 85, 85);  
    font-size: 15px;  
    color: rgb(255, 255, 255);
    border-radius: 10%;
    
}

.but:hover{
    background-color: black;
}

.title2 p{
    width: 400px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.high{
    color: rgb(3, 255, 255);
}

.songs{
    width: 1300px;
    height: 400px;
    position: absolute;
    top: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.song1{
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2%;
}

.song1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.song1 button{
    background-color: darkcyan;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.song1 button:hover{
    background-color: rgb(0, 36, 36);
}