body{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   background-color: darkcyan;
}

.container{
    width: 117px;
    height: 50px;
    background-color: aliceblue;
    z-index: 9999;
    position: absolute;
    top: 80px;
    left: 800px;
    opacity: 0;
}

.container.show{
    opacity: 1;
}

.nav{
    width: 1350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 44, 44);
    border-radius: 1%;
    position: fixed;
    box-shadow: 0 10px 20px rgb(0,0,0);
    z-index: 999;
}

.title p a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: aliceblue;
   
}
.title p a:hover{
    background: rgb(0, 39, 39);
    border-radius: 10%;
}

.features{
    display: flex;
    gap: 20px;
}

.features a:hover{
    background: rgb(0, 24, 24);
    border-radius: 5%;
}

.features a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}


.free ul {
    list-style: none;
}

.free ul li{
    display: inline-block;
    position: relative;
}

.free ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
 
}

.free ul li ul.dropdown li{
    display: block;
}

.free ul li ul.dropdown {
   width: 100%;
    background: transparent;
   position: absolute;
   z-index: 999;
   display: none;
}
.free ul li a:hover{
    background: rgb(0, 53, 53);
    border-radius: 5%;
}

.free ul li:hover ul.dropdown{
    display: block;
}


.card{
    flex: 0 0 5em;
    height: 300px;
    padding: 1em;
    font-size: 3rem;    
    border-radius: .2em;
    text-align: center;
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.img1{background-image: url('free.png');}
.img2{background-image: url('header.jpeg');}
.img3{background-image: url('hero.jpg');}


.des{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 250px;
}

.des p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align:start;
}

.high{
    color: rgb(3, 255, 255);
}

.des h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(202, 202, 202);
    text-align:justify;
}

.Auth{
    display: flex;
    gap: 10px;
}

.but{
    background-color: rgb(46, 85, 85);  
    font-size: 15px;  
    color: rgb(255, 255, 255);
    border-radius: 10%;
    
}

.but:hover{
    background-color: black;
}

.access{
    width: 98.8%;
    height: 300px;
    position: absolute;
    top: 100%;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.access p{
    color: aliceblue;
    position: absolute;
    top: 2px;
    font-size: 35px;
}

.steps{
    width: 90%;
    height: 200px;
    z-index: 999;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.step1{

    width: 300px;
    height: 120px;
    background-color: rgb(0, 116, 116);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0,0,0);

}

.step1:hover{
    background-color: rgb(0, 80, 80);
}

.step2{

    width: 300px;
    height: 120px;
    background-color: rgb(0, 116, 116);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0,0,0);
}

.step2:hover{
    background-color: rgb(0, 80, 80);
}

.step3{

    width: 300px;
    height: 120px;
    background-color: rgb(0, 116, 116);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0,0,0);
}

.step3:hover{
    background-color: rgb(0, 80, 80);
}
.step1 p{
    font-size: 20px;
    position: absolute;
    top: 65px;
}

.step2 p{
    font-size: 20px;
    position: absolute;
    top: 65px;
}

.step3 p{
    font-size: 20px;
    position: absolute;
    top: 65px;
}
.bottom{
    width: 1330px;
    height: 400px;
    background-color: darkcyan;
    position: absolute;
    top: 700px;
    display: flex;
    justify-content: center;
}

.allRights{

    width: 300px;
    height: 20px;
    background-color:darkcyan;
    position: absolute;
    top: 380px;
    color: rgb(255, 255, 255);
}

.socials{
    width: 600px;
    height: 150px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 220px;
    gap: 20px;
}

.socials img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

